body>header{ background-color: #4285f4; color: #fff;  box-shadow: inset 0px -2px 4px 0px rgba(0,0,0,0.25); }
body>header a{ color: #fff;  }
header h1{ margin: 0; overflow: hidden;}
header h1{ font-size: 6vw; font-weight: 500;}
header form{ display: flex; justify-content:space-between; align-items:center; }

#tr-menu-cb, .tr-search-close-btn,
header button,
header label{ display: none;}
header label[for]{ display: block;}
.tr-expand{ flex-grow: 3; display: none; }

header form>*{ padding: 0.5rem; }
header form>h1{ padding: 0;  flex-grow: 1; }

header input[type="search"]{ opacity: 0;width: 0; flex-grow: 0;padding: 0; }
header>.search-gr>input{ opacity: 1;flex-grow: 3; padding: 1rem;transition: all 0.3s ease-in-out;}

header input{  }
header>.search-gr>*, header>.search-gr label[for]{ display: none; }
header>.search-gr .search-gr{ display: block; }

header a dd{display: none; }
label>ul{ display: none; }

@media ( min-width: 34.35rem )
{
    header h1{ font-size: xx-large;}
    .tr-expand{ display: block; }
}
